@charset "uft-8";

/* Foundation
==================================================== */

/* import
--------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/* reset add
--------------------------- */
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/* base
--------------------------- */
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN",
    "Noto Sans JP", Meiryo, sans-serif;
  line-height: normal;
  color: #333;
}

/* variables
--------------------------- */
:root {
  --aspect-ratio__9: 9 / 12;
  --aspect-ratio__16: 16 / 9;
  --aspect-ratio__golden: 1000 / 1618;
}

/* Layout
==================================================== */

/* header
--------------------------- */
.l-header {
  display: block;
  width: 100%;
  padding: 16px 4vw 0;
}

.l-header__inner {
  width: 100%;
  margin: 0 auto;
}

/* main
--------------------------- */
.l-main {
  padding: clamp(64px, 12vw, 96px) 0 clamp(80px, 12vw, 152px);
}

/* section
--------------------------- */
.l-section {
  display: block;
  width: 100%;
  padding: clamp(80px, 12vw, 152px) 4vw 0;
}

.l-section:first-child {
  padding-top: 0;
}

.l-section__inner {
  width: 100%;
  max-width: 1980px;
  margin: 0 auto;
}

/* section in block
--------------------------- */
.l-sample {
  margin-top: clamp(40px, 2vw, 48px);
}

/* footer
--------------------------- */
.l-footer {
  display: block;
  width: 100%;
  padding: clamp(16px, 4vw, 24px) 4vw;
  margin-top: auto;
  background: #333;
}

.l-footer__inner {
  width: 100%;
  margin: 0 auto;
}

/* Component
==================================================== */

/* header
--------------------------- */
.c-header__logoarea {
  display: flex;
  align-items: center;
}

.c-logo {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(24px, 3.4vw, 32px);
  font-weight: 600;
  letter-spacing: clamp(0.044em, 1vw, 0.12em);
}

.c-explanation {
  margin: 2px 0 0 8px;
  font-size: 14px;
  letter-spacing: 0.032em;
}

.c-explanation.-none {
  color: #fff;
}

/* footer
--------------------------- */
.c-footer__lists {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-footer__itemlinkwrap {
  position: relative;
  display: block;
  -webkit-transition: 0.475s;
  transition: 0.475s;
}

.c-footer__itemlinkwrap::before {
  position: absolute;
  top: -52px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 34px;
  font-size: 14px;
  font-weight: 600;
  color: #fefefe;
  text-align: center;
  letter-spacing: 0.12em;
  content: attr(data-tooltip);
  background: #222;
  border-radius: 30px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.475s;
  transition: 0.475s;
  transform: translateX(-50%);
}

.c-footer__itemlinkwrap::after {
  position: absolute;
  top: -18px;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid transparent;
  border-width: 10px 10px 0;
  border-top-color: #222;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.475s;
  transition: 0.475s;
  transform: translateX(-50%);
}

@media (hover: hover) and (pointer: fine) {
  .c-footer__itemlinkwrap:hover::before,
  .c-footer__itemlinkwrap:hover::after {
    opacity: 1;
    visibility: visible;
  }
}

.c-footer__icon {
  width: 42px;
  height: auto;
}

/* font
--------------------------- */
.c-font__en {
  font-family: "Montserrat", sans-serif;
}

.c-font__en.-bold {
  font-weight: 600;
}

/* title text
--------------------------- */
.c-title__lv2 {
  display: flex;
  align-items: center;
  font-size: clamp(22px, 1vw, 28px);
  line-height: 1.3;
  color: #a83c38;
  text-transform: uppercase;
  letter-spacing: 0.042em;
}

.c-title__lv2::before {
  display: inline-block;
  width: 40px;
  height: 1px;
  margin-right: 16px;
  content: "";
  background-color: #a83c38;
}

.c-text {
  margin-top: 4px;
  line-height: 1.68;
  font-size: clamp(16px, 1vw, 18px);
  letter-spacing: 0.032em;
}

.c-title__lv2 + .c-text {
  margin-top: clamp(20px, 1vw, 28px);
}

.c-text:first-child {
  margin-top: 0;
}

.c-text.-small {
  margin-top: 4px;
  font-size: clamp(14px, 1vw, 15px);
  color: #888;
}

.c-text.-bold {
  font-weight: bold;
}

/* image
--------------------------- */
.c-image > img {
  aspect-ratio: var(--aspect-ratio__16);
  width: 100%;
  object-fit: cover;
}

/* link
--------------------------- */
.c-link {
  display: block;
  -webkit-transition: 0.475s;
  transition: 0.475s;
}

.c-link.-image {
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
  .c-link:hover {
    opacity: 0.7;
  }
}

/* Project
==================================================== */

/* sample01
--------------------------- */
.p-sample01 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 16px 0;
}

.p-sample01__title {
  font-size: clamp(32px, 12vw, 56px);
  line-height: 1.3;
  letter-spacing: 0.086em;
}

@media not screen and (min-width: 768px) {
  .p-sample01 {
    grid-template-areas: "stack";
    width: 100vw;
    margin-left: -4vw;
  }

  .p-sample01 > * {
    grid-area: stack;
  }

  .p-sample01__title {
    position: relative;
    padding: 0 clamp(2vw, 4vw, 6vw);
    color: #fff;
    text-align: center;
    word-break: break-all;
    mix-blend-mode: overlay;
    place-self: center;
  }

  .p-sample01__image > img {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100 - 222px);
  }
}

@media screen and (min-width: 768px) {
  .p-sample01 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    gap: 64px 3.125vw;
  }

  .p-sample01__title {
    z-index: 2;
    grid-row: 1;
    grid-column: 1 / 8;
    align-self: center;
    font-size: clamp(40px, 6vw, 56px);
  }

  .p-sample01__title br {
    display: none;
  }

  .p-sample01__image {
    z-index: 1;
    grid-row: 1;
    grid-column: 3 / -1;
  }
}

/* sample02
--------------------------- */
.p-sample02__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px 0;
}

@media screen and (min-width: 640px) {
  .p-sample02__list {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    gap: 80px 3.125vw;
  }

  .p-smple02__item.p-smple02__item01 {
    grid-column: 2 / span 4;
    align-self: center;
  }

  .p-smple02__item01 img {
    aspect-ratio: var(--aspect-ratio__9);
  }

  .p-smple02__item.p-smple02__item02 {
    grid-column: 7 / span 5;
    align-self: center;
  }

  .p-smple02__item.p-smple02__item03 {
    grid-column: 6 / span 4;
    align-self: center;
  }
}

/* sample03
--------------------------- */
.p-sample03:not(:first-child) {
  padding-top: clamp(40px, 4vw, 64px);
  margin-top: clamp(40px, 4vw, 64px);
  border-top: 1px solid #dedede;
}

.p-sample03__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 1fr));
  gap: 40px 32px;
}

.p-sample03__list:not(:first-child) {
  margin-top: clamp(32px, 2vw, 48px);
}

.p-sample03__block {
  display: flex;
  flex-direction: column;
}

.p-sample03__name {
  order: 2;
  margin-top: 16px;
  line-height: 1.3;
  font-size: clamp(18px, 1vw, 20px);
  letter-spacing: 0.032em;
}

.p-sample03__image {
  order: 1;
}

.p-sample03__text {
  order: 3;
  margin-top: 8px;
}

/* __mediacolumn02 */
.p-sample03--mediacolumn02 .p-sample03__list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 640px) {
  .p-sample03--mediacolumn02 .p-sample03__list {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .p-sample03--mediacolumn02 .p-sample03__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .p-sample03--mediacolumn02 .p-sample03__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* sample04
--------------------------- */
.p-sample04 {
  display: grid;
  gap: 16px 32px;
}

.p-sample04__title {
  font-size: clamp(20px, 2vw, 24px);
  line-height: 1.3;
  letter-spacing: 0.064em;
}

.p-sample04__text {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .p-sample04 {
    grid-template-columns: 1fr 1fr;
  }

  .p-sample04__title {
    align-self: end;
  }

  .p-sample04__text {
    align-self: start;
  }

  .p-sample04__image {
    grid-row: 1 / 3;
    grid-column: 2;
    align-self: start;
  }
}

@media screen and (min-width: 1280px) {
  .p-sample04__image {
    align-self: center;
  }
}

/* sample05
--------------------------- */
.p-sample05 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.p-sample05__title {
  grid-column: span 2;
  font-size: clamp(20px, 2vw, 24px);
  line-height: 1.3;
  letter-spacing: 0.064em;
}

.p-sample05__image01 {
  grid-column: span 2;
}

.p-sample05__image02 > img,
.p-sample05__image03 > img {
  height: 100%;
}

@media screen and (min-width: 768px) {
  .p-sample05 {
    grid-template-columns: repeat(6, 1fr);
    gap: 0;
  }

  .p-sample05__title {
    grid-row: span 2;
    grid-column: span 2;
    align-self: center;
    word-break: break-all;
    margin-right: 8px;
  }

  .p-sample05__image01 {
    grid-row: span 2;
    grid-column: span 3;
  }
}
