@charset "uft-8";

/* Foundation
==================================================== */

/* import
--------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/* reset add
--------------------------- */
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/* base
--------------------------- */
body {
  font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN",
    "Noto Sans JP", Meiryo, sans-serif;
  color: #333;
}

/* variables
--------------------------- */
:root {
  --aspect-ratio__9: 9 / 12;
  --aspect-ratio__16: 16 / 9;
  --aspect-ratio__golden: 1000 / 1618;
}

/* Layout
==================================================== */

/* header
--------------------------- */
.l-header {
  display: block;
  width: 100%;
  padding: 16px 4vw 0;
}

.l-header__inner {
  width: 100%;
  margin: 0 auto;
}

/* main
--------------------------- */
.l-main {
  padding: clamp(64px, 12vw, 80px) 0 clamp(80px, 12vw, 120px);
}

/* section
--------------------------- */
.l-section {
  display: block;
  width: 100%;
  padding: clamp(80px, 12vw, 152px) 4vw 0;
}

.l-section:first-child {
  padding-top: 0;
}

.l-section__inner {
  width: 100%;
  max-width: 1980px;
  margin: 0 auto;
}

/* section in block
--------------------------- */
.l-sample {
  margin-top: clamp(32px, 2vw, 48px);
}

/* footer
--------------------------- */
.l-footer {
  display: block;
  width: 100%;
  padding: clamp(16px, 4vw, 24px) 4vw;
  background: #333;
}

.l-footer__inner {
  width: 100%;
  margin: 0 auto;
}

/* Component
==================================================== */

/* header
--------------------------- */
.c-header__logoarea {
  display: flex;
  align-items: center;
}

.c-logo {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(32px, 4vw, 40px);
  font-weight: 600;
  letter-spacing: 8px;
}

.c-explanation {
  margin: 2px 0 0 8px;
  font-size: clamp(14px, 2vw, 16px);
  font-feature-settings: "palt";
}

.c-explanation.-none {
  color: #fefefe;
}

/* footer
--------------------------- */
.c-footer__sns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-footer__item {
  width: 42px;
  height: auto;
}

/* font
--------------------------- */
.c-font__en {
  font-family: "Montserrat", sans-serif;
}

.c-font__en.-bold {
  font-weight: 600;
}

/* title text
--------------------------- */
.c-title__lv2 {
  display: flex;
  align-items: center;
  font-size: clamp(20px, 4vw, 24px);
  font-feature-settings: "palt";
  color: #a83c38;
  text-transform: uppercase;
  letter-spacing: 1.68px;
}

.c-title__lv2::before {
  display: inline-block;
  width: 40px;
  height: 1px;
  margin-right: 16px;
  content: "";
  background-color: #a83c38;
}

.c-text {
  margin-top: clamp(8px, 2vw, 16px);
  font-size: 16px;
  font-feature-settings: "palt";
  letter-spacing: 2.48px;
}

.c-text:first-child {
  margin-top: 0;
}

.c-text.-small {
  margin-top: 4px;
  font-size: 14px;
  color: #888;
}

.c-text.-bold {
  font-weight: bold;
}

/* image
--------------------------- */
.c-image > img {
  aspect-ratio: var(--aspect-ratio__16);
  width: 100%;
  object-fit: cover;
}

/* link
--------------------------- */
.c-link {
  display: block;
  -webkit-transition: 0.475s;
  transition: 0.475s;
}

.c-link.-image {
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
  .c-link:hover {
    opacity: 0.7;
  }
}

/* Project
==================================================== */

/* sample01
--------------------------- */
.p-sample01 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 16px 0;
}

.p-sample01__title {
  font-size: clamp(24px, 5vw, 48px);
  line-height: 1.3;
  letter-spacing: 2.2px;
}

@media screen and (min-width: 640px) {
  .p-sample01 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    gap: 64px 3.125vw;
  }

  .p-sample01__title {
    z-index: 2;
    grid-row: 1;
    grid-column: 1 / 8;
    align-self: center;
  }

  .p-sample01__image {
    z-index: 1;
    grid-row: 1;
    grid-column: 3 / -1;
  }
}

/* sample02
--------------------------- */
.p-sample02__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px 0;
}

@media screen and (min-width: 640px) {
  .p-sample02__list {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    gap: 80px 3.125vw;
  }

  .p-smple02__item.p-smple02__item01 {
    grid-column: 2 / span 4;
    align-self: center;
  }

  .p-smple02__item01 img {
    aspect-ratio: var(--aspect-ratio__9);
  }

  .p-smple02__item.p-smple02__item02 {
    grid-column: 7 / span 5;
    align-self: center;
  }

  .p-smple02__item.p-smple02__item03 {
    grid-column: 6 / span 4;
    align-self: center;
  }
}

/* sample03
--------------------------- */
.p-sample03:not(:first-child) {
  padding-top: clamp(40px, 4vw, 64px);
  margin-top: clamp(40px, 4vw, 64px);
  border-top: 1px solid #dedede;
}

.p-sample03__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px 32px;
}

.p-sample03__list:not(:first-child) {
  margin-top: clamp(32px, 2vw, 48px);
}

.p-sample03__block {
  display: flex;
  flex-direction: column;
}

.p-sample03__name {
  order: 2;
  margin-top: 16px;
  font-size: 18px;
}

.p-sample03__image {
  order: 1;
}

.p-sample03__text {
  order: 3;
  margin-top: 8px;
}

/* __mediacolumn01 */
.p-sample03--mediacolumn01 .p-sample03__list {
  grid-template-columns: 1fr;
}

@media screen and (min-width: 640px) {
  .p-sample03--mediacolumn01 .p-sample03__list {
    grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
  }
}

/* __mediacolumn02 */
.p-sample03--mediacolumn02 .p-sample03__list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 640px) {
  .p-sample03--mediacolumn02 .p-sample03__list {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .p-sample03--mediacolumn02 .p-sample03__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .p-sample03--mediacolumn02 .p-sample03__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* sample04
--------------------------- */
.p-sample04 {
  display: grid;
  gap: 16px 32px;
}

.p-sample04__title {
  font-size: clamp(20px, 2vw, 24px);
  letter-spacing: 2.2px;
}

.p-sample04__text {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .p-sample04 {
    grid-template-columns: 1fr 1fr;
  }

  .p-sample04__title {
    align-self: end;
  }

  .p-sample04__text {
    align-self: start;
  }

  .p-sample04__image {
    grid-row: 1 / 3;
    grid-column: 2;
    align-self: start;
  }
}

@media screen and (min-width: 1280px) {
  .p-sample04__image {
    align-self: center;
  }
}
